# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# *.g1t
# *.g1m


/tmp
/.vscode
/src/0cc1a2b4
/src/8279b3ed
/src/8279b3ed_doa6
/src/.vscode
/src/build
/src/tmp

# submodules
/stb
/gust_stuff
/eternity_common
/DirectXTex
/rapidjson
/tmp

# rs
/target
/py/*/*/target
/py/*/*/.venv