[submodule "DirectXTex"]
	path = DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "gust_stuff"]
	path = gust_stuff
	url = https://github.com/eArmada8/gust_stuff.git
[submodule "eternity_common"]
	path = eternity_common
	url = https://github.com/eterniti/eternity_common.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "src_c/cJSON"]
	path = src_c/cJSON
	url = https://github.com/DaveGamble/cJSON
